label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }

  input[type="text"], input[type="date"], textarea {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    align-items: center;
    text-align: center;
  }

  .imprimir{
        display: block;
        margin: 0 auto;
        text-align: center;
      
  }

  button:hover {
    background-color: #45a049;
    align-items: center;
  }

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
    font-family: 'Calibri';
    
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
    padding: 1cm;
    border: 5px red solid;
    height: 257mm;
    outline: 2cm #FFEAEA solid;
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    html, body {
        width: 210mm;
        height: 297mm;        
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}
#selec{
    font-weight: bold;
}

img{
    width: 30%;
    height: auto;
    
}

#frodape{
    text-align: center;
    font-weight: bold;
}

.cabecalho{
    text-align: center;
    align-items: center;
}
#cabe{
    margin: 0%;
    padding: 0%;
}
.texto{
    
    text-align: center;
    align-items: center;
    width: 30rem;
}

#assinatura{
    align-items: center;
}